
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --bg-color:#7a46a5;
    --primary-color:#7c87c5;
    --secundary-color:#775deb;
    -- font: "Oswald", sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}
h1{
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
}
nav a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 0rem 2rem 3rem 0rem;
    font-size: 2rem;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.99);
    transition: transform 0.15;
}
footer{
    display: flex;
    align-items: center;
justify-content: center;
background-color: var(--primary-color);
color: var(--bg-color);
width: 100%;
height: 3rem;
margin-top: 2rem;
}
.graficos-container{
    margin: 5rem;
}
.graficos-container-texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--secundary-color) solid 2px;
}
span {
    font-weight: bold;
    color: var(--secundary-color);
}